---
import Layout from "../layouts/Layout.astro"; 
const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} - La Casa Que Canta`}>

<section class="grid md:grid-cols-[65%_35%] md:h-screen overflow-y-hidden">
  <div>
    <div class="swiper mySwiper activities-slider overflow-hidden relative">
      {frontmatter.showMichelin !== false && (
        <div class="absolute top-4 right-4 z-30">
          <img src="/images/image2vector.svg" alt="Michelin" class="w-24 h-auto drop-shadow-xl" />
        </div>
      )}
      <div class="swiper-wrapper">
        {Array.isArray(frontmatter.items) && frontmatter.items.map((item) => (
          <div class="swiper-slide">
            <img 
              class="cursor-pointer object-cover transition duration-300 ease-in-out w-full h-full" 
              src={item.image} 
              alt={frontmatter.title} 
            />
            {item.text && (
              <div class="slide-caption">{item.text}</div>
            )}
          </div>
        ))}
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>

  <div class="px-8 grid items-center my-8 prose-base md:px-12 lg:px-16">
    <div>
      <div class="mb-6">
        <h1 class="text-5xl lg:text-7xl font-bold">{frontmatter.title}</h1>
        {frontmatter.description && (
          <span class="font-bold bg-yellow-200 px-1">{frontmatter.description}</span>
        )}
      </div>
      <slot />
      <div class="mt-10">
        <a href="/" class="bg-black/90 font-semibold uppercase py-3 px-6 text-white hover:bg-black/60">
          {Astro.url.pathname.startsWith('/es') ? 'Regresar Home' : 'Back to Home'}
        </a>
      </div>
    </div>
  </div>
</section>

<script>
  import Swiper from "swiper";
  import { Pagination, Autoplay } from "swiper/modules";

  import "swiper/css";
  import "swiper/css/navigation";
  import "swiper/css/pagination";

  new Swiper(".mySwiper", {
    modules: [Pagination, Autoplay],
    spaceBetween: 30,
    centeredSlides: true,
    autoplay: {
      delay: 4000,
      disableOnInteraction: false,
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });
</script>

</Layout>
