---
import Layout from "../layouts/Layout.astro"; // 游댳 Cambio de alias @layouts a ruta relativa
const { frontmatter } = Astro.props;
const rooms = await Astro.glob('/src/pages/accomodations/*.md'); 
const suggestedRooms = rooms.filter((room) => room.frontmatter.title !== frontmatter.title);
const isEs = Astro.url.pathname.startsWith('/es');
---

<Layout title={`${frontmatter.title} - La Casa Que Canta`}>

<section class="">
    <div>
       <img class="h-72 w-full object-cover" src={frontmatter.imagefront} alt="" />
    </div>
    <div class="max-w-7xl mx-auto py-16 px-8 grid gap-8 md:grid-cols-2 items-center">
        <div class="grid content-start h-full">
            <div class="mb-6 md:mb-12">
                <h1 class="text-5xl lg:text-7xl font-bold">{frontmatter.title}</h1>
                <div class="flex flex-wrap gap-2 lg:gap-6 font-medium mb-6">
                    <span class="flex items-center text-black/90 gap-2">
                        <!-- Iconos intactos -->
                        {frontmatter.square}
                    </span>
                    <span class="flex items-center text-black/90 gap-2">
                        {frontmatter.beds}
                    </span>
                    <span class="flex items-center text-black/90 gap-2">
                        {frontmatter.guest}
                    </span>
                </div>
                <div class="flex gap-4 flex-wrap">
                    <a href={frontmatter.book} target="_blank" class="w-full md:w-auto text-center text-sm bg-black/90 font-semibold uppercase py-3 px-6 text-white hover:bg-black/60">
                        {isEs ? 'RESERVAR' : 'Book Now'}
                    </a>
                    {frontmatter.floorplan && (
                        <>
                            <button id="open-dialog" class="w-full md:w-auto text-center text-sm bg-black/90 font-semibold uppercase py-3 px-6 text-white hover:bg-black/60 rounded-none">
                                {isEs ? 'Plano' : 'Floor Plan'}
                            </button>
                            <dialog id="floor-plan-dialog" class="p-0 overflow-hidden shadow-lg">
                                <div class="relative">
                                    <button id="close-dialog" class="absolute top-2 right-2 text-black/90 hover:text-black/90 focus:outline-none">
                                        <!-- Icono cerrar -->
                                    </button>
                                    <img src={frontmatter.floorplan} alt="Floor Plan" class="w-full h-auto object-contain aspect-square cursor-zoom-out" />
                                </div>
                            </dialog>
                        </>
                    )}
                    <a href="/accomodations" class="w-full md:w-auto text-center text-sm bg-black/90 font-semibold uppercase py-3 px-6 text-white hover:bg-black/60">
                        {isEs ? 'REGRESO A SUITES' : 'Back to accomodations'}
                    </a>
                </div>
                <mark class="font-bold">{frontmatter.description}</mark>
            </div>
            <slot />
        </div>
        <div class="grid gap-6">
            <div>
                <h4 class="font-bold">{isEs ? 'Caracteristicas de la Suite' : 'Room Features'}</h4>
                <ul>
                    {frontmatter.roomfeatures.map((feature) => (
                        <li>{feature.rf}</li>
                    ))}
                </ul>
            </div>
            <div>
                <h4 class="font-bold">{isEs ? 'Amenidades' : 'Amenities'}</h4>
                <ul>
                    {frontmatter.amenities.map((amenitie) => (
                        <li>{amenitie.a}</li>
                    ))}
                </ul>
            </div>
        </div>
    </div>

    <!-- Galer칤a -->
    <div class="max-w-7xl px-8 md:px-0 mx-auto swiper mySwiper h-full">
        <div class="swiper-wrapper aspect-square md:aspect-[16/7] object-cover">
            {frontmatter.items.map((item) => (
                <div class="swiper-slide">
                    <img 
                        class="cursor-pointer object-cover transition duration-300 ease-in-out w-full h-full"
                        src={item.image}
                        alt={frontmatter.title}
                        data-image={item.image}
                        data-text={item.text}
                    />
                </div>
            ))}
        </div>
        <div class="swiper-pagination"></div>
    </div>

    <div class="py-6 relative">
        <img src="/palm-bg-layout.png" class="hidden md:block absolute left-0 right-0 -top-16 mx-auto rotate-9" alt="">
    </div>

    <!-- Secci칩n de otras habitaciones -->
    <div class="grid relative max-w-7xl mx-auto">
        <div class="max-w-4xl px-4 mx-auto mb-10 text-center">
            <h2 class="text-3xl md:text-5xl lg:text-7xl mb-6 font-bold">Descubre m치s suites</h2>
            <p>La Casa Que Canta es un peque침o hotel de lujo con esencia, historia y una personalidad propia. Ubicado en Zihuatanejo junto a la hermosa playa La Ropa, este hotel ofrece vistas panor치micas incomparables.</p>
        </div>
        <div class="grid gap-6 grid-cols-1 px-4 md:grid-cols-3 lg:grid-cols-4">
            {suggestedRooms.slice(0, 5).map((post) => {
                // Si la URL no empieza con '/es', la agregamos
                const url = post.url.startsWith('/es') ? post.url : `/es${post.url}`;
                return (
                    <div class="group relative bg-cover bg-center p-4 aspect-square grid items-end text-white overflow-hidden">
                        <div class="absolute z-10 w-full h-full top-0 bg-gradient-to-br from-transparent to-gray-900 opacity-60"></div>
                        <img class="absolute z-0 w-full h-full top-0 object-cover group-hover:scale-[1.02] transition duration-300 ease-in-out" src={post.frontmatter.imagefront} alt="" />
                        <h3 class="text-5xl z-20 relative">{post.frontmatter.title}</h3>
                        <div>
                            <a href={url} class="relative text-sm z-10 bg-black/90 font-semibold uppercase py-3 px-6 text-white hover:bg-black/60">M치s detalles</a>
                        </div>
                    </div>
                );
            })}
        </div>
    </div>
</section>

<script is:inline>
const dialog = document.getElementById('floor-plan-dialog');
const openBtn = document.getElementById('open-dialog');
const closeBtn = document.getElementById('close-dialog');
if (openBtn && dialog) openBtn.addEventListener('click', () => dialog.showModal());
if (closeBtn && dialog) closeBtn.addEventListener('click', () => dialog.close());
if (dialog) dialog.addEventListener('click', () => dialog.close());
</script>

<script>
import Swiper from "swiper";
import { Pagination, Autoplay } from "swiper/modules";
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";

var swiper = new Swiper(".mySwiper", {
  modules: [Pagination, Autoplay],
  spaceBetween: 30,
  centeredSlides: true,
  autoplay: { delay: 4000, disableOnInteraction: false },
  pagination: { el: ".swiper-pagination", clickable: true },
});
</script>
</Layout>
